:root {
  /* BUSCAR COLORES DE INSTAGRAM */
  --primary-light: #e96262;
  --primary-dark: #8d3939;

  --primary-font: #555;
  --primary-darker: #181818;
  --lighter-grey: #ddd;
  --light-grey: #6e6e6e;

  --links: rgb(61, 61, 140);

  --drag--border: #97bef4;
  --drag--back: #f6f8fb;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--primary-font);
  margin: 0;
  padding: 0;
  position: relative;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0 0.4rem var(--primary-font);
}

p {
  margin: 0;
}

.btn {
  padding: 0.6rem 0.7rem;
}

.btn:hover,
.btn:active {
  cursor: pointer;
  background-color: var(--lighter-grey);
  border-radius: 9px;

  transition: all 0.5s ease;
}

.info--div {
  position: relative;
}
.info--div--blackout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.8);
  color: #fff;

  z-index: 10;
  display: flex;
  flex-direction: column;
}
.info--div--blackout--text {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.03rem;
  /* margin: 15rem 2rem; */
  padding: 2rem 0;
  justify-self: center;
  align-self: center;
  max-width: 40ch;
}

.modal--signup--errormessage,
.modal--login--errormessage {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: -0.03rem;
  font-weight: 600;
}

@media (min-width: 48.12em) {
  .info--div--blackout--text {
    margin: auto 0;
    max-width: 80ch;
  }
}
