.section--post--card {
	margin-bottom: 4.4rem;
	margin-inline: auto;
}
.post--card--container {
	display: grid;
	max-width: 40rem;
	margin-inline: auto;
	/* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */
	border-radius: 11px;
	border: 1px solid var(--lighter-grey);
	overflow: hidden;
}
.image--container {
}

.post--card--img {
	width: 100%;
	max-height: 31rem;

	transition: all 0.3s;
}
.card--container {
    display: grid;
}
.card--caption {
    padding: 0 1rem;
}
.post--container--comments--container {
    border: 1px solid var(--lighter-grey);
    padding: 0 1rem;
}

.card--author {
    justify-self: center;
}
