.post--card--comment--container {
	display: flex;
	flex-direction: column;
	position: relative;
}
.post--comment--user--container {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.comment--author span {
	font-weight: 600;
	letter-spacing: -0.03rem;
	font-size: 1.2rem;
}
.comment--author {
	margin: 0.3rem 0;
	font-size: 1.2rem;
}
.comment--container--options {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.response--parraf {
	margin: 0.5rem 0;
	font-size: 1rem;
	color: var(--links);
	margin-bottom: 0.7rem;
}

.post--responses--user--comment--container {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 1rem;
}
/* .post--card--response--container--false {
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: -200%;
	transform: translate(110%, 0%);

	object-fit: cover;
	overflow: hidden;
} */
.post--card--response--container--true {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	background-color: #fff;
}

.post--card--response--container--true:last-child {
	border-bottom: 1px solid var(--lighter-grey);
	margin-bottom: 1rem;
}
.post--card--response--container--parraf {
	color: var(--links);
	margin-left: 1rem;
}
