.section--profile--user--details {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 47rem;
  padding-top: 6rem;
}

.profile--user--details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.profile--img--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.profile--img--container p {
  font-size: 1.4rem;

  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.profile--img--container p:hover {
  transition: all 0.3s ease;
  border-bottom: 1px solid var(--primary-darker);
}
.profile--user--details--img {
  width: 12rem;
  height: 12rem;
  border-radius: 999px;
}
.profile--users--posts {
  display: grid;

  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
}

.profile--users--post--img {
  width: 10rem;
  height: 10rem;

  cursor: pointer;
}
.profile--users--post--img:hover {
  transform: scale(1.02);

  object-fit: fill;
  transition: all 0.2s ease;
}
.profile--user--nouser {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.04rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.profile--user--nouser--parraf {
  font-size: 1.3rem;
  color: var(--links);
}

@media (min-width: 28.12em) {
  .section--profile--user--details .wrapper {
    justify-content: unset;
  }
}
