.successfull--container {
  max-width: 70vw;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  padding: 1rem 1.3rem;
  margin-inline: auto;
}

.material-symbols-outlined {
  color: green;
  font-size: 4rem;
}

.successfull--container > h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.img--container {
  margin-inline: auto;
  max-width: 35rem;
  max-height: 30rem;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2rem;
}
.img--container img {
  max-width: 35rem;
  max-height: 30rem;
}
