:root {
	/* BUSCAR COLORES DE INSTAGRAM */
	--primary-font: #555;
	--lighter-grey: #ddd;

	--drag--border: #97bef4;
	--drag--back: #f6f8fb;
}
body {
	margin: 0;
	padding: 0;
	position: relative;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 0 0.4rem var(--primary-font);
}

.section--app {
	padding-inline: 1rem;
	margin-inline: 1rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
}

.probando {
	margin-inline: auto;
}

p {
	margin: 0;
}